:root {
  --accent-color: #00ad6a;
  --bg-color: #eafaf1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

#nav-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 145px;
}

#nav-bar > ul {
  font-family: "Work Sans", sans-serif;
  height: fit-content;
  align-items: center;
  margin: 0;
  color: var(--accent-color);
  list-style: none;
  display: flex;
  gap: 2.2rem;
  font-weight: bolder;
}

#nav-bar > ul > li {
  cursor: pointer;
}

#nav-bar > ul > li:hover {
  color: black;
}

#nav-bar > ul > li:last-child {
  padding-block: 5px;
  padding-inline: 18px;
  border: solid 2px var(--accent-color);
}

#nav-bar > ul > li:last-child:hover {
  color: var(--accent-color);
  transform: translate(10px, -5px);
  box-shadow: -4px 6px var(--accent-color);
}

#nav-bar > img {
  height: 49px;
}

#menu-svg {
  height: 32px;
  width: 32px;
}

#trial-section {
  background-color: var(--bg-color);
  width: 100vw;
  display: grid;
  text-align: center;
  align-content: center;
}

#trial-section > h1 {
  justify-self: center;
  text-align: center;
  width: 32%;
  font-size: 3rem;
  font-weight: 1500;
  margin: 0px;
}

#trial-section > p {
  justify-self: center;
  width: 37%;
}

@media (width >= 768px) {
  #menu-svg {
    display: none;
  }
}

@media (width < 768px) {
  #nav-bar {
    border-bottom: #d6dae5 solid 1px;
    background-color: white;
  }

  #trial-section {
    padding-top: 1.8rem;
  }

  #menu-svg {
    color: var(--accent-color);
  }

  #trial-section > h1 {
    font-size: 2.5rem;
    width: 70%;
    text-align: left;
  }

  #trial-section > p {
    justify-self: center;
    font-size: 1.1rem;
    line-height: 28px;
    text-align: left;
    width: 75%;
  }

  #nav-bar > ul {
    display: none;
  }
}
